@{
    ViewData["Title"] = "Home Page";
}
@{
    string url = "https://fr.web.img6.acsta.net/pictures/15/12/18/10/51/568937.jpg";
}
<img src="@url" />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
